@page
@using UDeal.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="d-flex flex-wrap">
    @if (!string.IsNullOrEmpty(Model.Search)) {
        <h3>Search results for: '@Model.Search'</h3>
    }
        
    <form class="container-fluid" id="filterForm">

        <div class="row input-group flex-fill m-2">
            <div class="col-md-6 form-group">
                <select name="category" class="form-control" asp-items="ViewBag.CategoryId" asp-for="@Model.Category" onchange="filterForm.submit()">
                    <option value="" selected>All Categories</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <select name="school" class="form-control" asp-items="ViewBag.Schools" asp-for="@Model.School" onchange="filterForm.submit()">
                    <option value="" selected>All Schools</option>
                </select>
            </div>
        </div>

        @if (@Model.School > 0)
        {
            <div class="row input-group flex-fill m-2">
                <div class="col-md-6 form-group">
                    <select name="campus" class="form-control" asp-items="ViewBag.SchoolCampuses" asp-for="@Model.Campus" onchange="filterForm.submit()">
                        <option value="" selected>All Campuses</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <select name="course" class="form-control" asp-items="ViewBag.SchoolCourses" asp-for="@Model.Course" onchange="filterForm.submit()">
                        <option value="" selected>Affiliated Course</option>
                    </select>
                </div>
            </div>   
        }

        <input name="search" type="hidden" value="@Model.Search"/>
        
    </form>

    <hr/>

    @if (!Model.Posts.Any())
    {
        <div class="container-fluid m-5" style="text-align: center">
            <h5>No results. Please alter your search parameters.</h5>
        </div>
    }
    else
    {
        @foreach (Post p in Model.Posts)
        {
            <div class="card border-light" style="width: 18rem; margin: 10px;">
                <img src="@(Model.Images.Where(i => i.PostId == p.Id).Any() ? "/images/" + Model.Images.Where(i => i.PostId == p.Id).First().Name : "https://via.placeholder.com/300")" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@p.Title</h5>
                    @if (p.Type == PostType.Selling)
                    {
                        if (p.Price != null)
                        {
                            <p class="card-text">$@p.Price</p>
                        }
                        else
                        {
                            <p class="card-text">FREE</p>
                        }
                    }
                    else if (p.MinPrice != null && p.MaxPrice != null)
                    {
                        <p class="card-text">$@p.MinPrice - $@p.MaxPrice</p>
                    }
                
                    <a role = "button" class="btn btn-outline-dark" asp-page="/Posts/Details" asp-route-id="@p.Id">Details</a>
                </div>
            </div>
        }   
    }
</div>
