@page
@using UDeal.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-3">
            <form id="filterForm">
                <div class="row form-group m-2 flex-fill">
                    <label asp-for="@Model.Sort">Sort by</label>
                    <select name="sort" class="form-control" asp-for="@Model.Sort" onchange="filterForm.submit()">
                        <option value="date_desc" selected>Created: newest to oldest</option>
                        <option value="date_asc">Created: oldest to newest</option>
                        <option value="price_desc">Price: highest to lowest</option>
                        <option value="price_asc">Price: lowest to highest</option>
                        <option value="title_asc">Title: a - z</option>
                        <option value="title_desc">Title: z - a</option>
                    </select>
                </div>
                <div class="row form-group m-2 flex-fill">
                    <select name="type" class="form-control" asp-items="Html.GetEnumSelectList<PostType>()" asp-for="@Model.Type" onchange="filterForm.submit()">
                        <option value="@null" selected>All Types</option>
                    </select>
                </div>
                <div class="row form-group m-2 flex-fill">
                    <select name="category" class="form-control" asp-items="ViewBag.CategoryId" asp-for="@Model.Category" onchange="filterForm.submit()">
                        <option value="" selected>All Categories</option>
                    </select>
                </div>
                <div class="row form-group m-2 flex-fill">
                    <select name="school" class="form-control" asp-items="ViewBag.Schools" asp-for="@Model.School" onchange="filterForm.submit()">
                        <option value="" selected>All Schools</option>
                    </select>
                </div>

                @if (@Model.School > 0)
                {
                    <div class="row form-group m-2 flex-fill">
                        <select name="campus" class="form-control" asp-items="ViewBag.SchoolCampuses" asp-for="@Model.Campus" onchange="filterForm.submit()">
                            <option value="" selected>All Campuses</option>
                        </select>
                    </div>
                    <div class="row form-group m-2 flex-fill">
                        <select name="course" class="form-control" asp-items="ViewBag.SchoolCourses" asp-for="@Model.Course" onchange="filterForm.submit()">
                            <option value="" selected>Affiliated Course</option>
                        </select>
                    </div>
                }

                <input name="search" type="hidden" value="@Model.Search"/>
            </form>

        </div>
        <div class="col-md-9">
            <div class="d-flex flex-wrap">
                @if (!string.IsNullOrEmpty(Model.Search)) {
                    <div style="width: 100%">
                        <h3>Search results for: '@Model.Search'</h3>
                    </div>                    
                }
        


                @if (!Model.Posts.Any())
                {
                    <div class="container-fluid m-5" style="text-align: center">
                        <h5>No results. Please alter your search parameters.</h5>
                    </div>
                }
                else
                {
                    @foreach (Post p in Model.Posts)
                    {
                        <div class="card" style="width: 290px; margin: 10px;">
                            <img src="@(Model.Images.Where(i => i.PostId == p.Id).Any() ? "/images/" + Model.Images.Where(i => i.PostId == p.Id).First().Name : "https://via.placeholder.com/300")" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@p.Title</h5>
                                @if (p.Type == PostType.Selling)
                                {
                                    if (p.Price != null)
                                    {
                                        <p class="card-text">$@p.Price</p>
                                    }
                                    else
                                    {
                                        <p class="card-text">FREE</p>
                                    }
                                }
                                else 
                                {
                                    <p class="card-text">WANTED</p>
                                }
                
                            </div>
                            <div class="card-footer d-grid" style="background-color: white; border-top: none">
                                <a class="btn btn-outline-dark" asp-page="/Posts/Details" asp-route-id="@p.Id">Details</a>
                            </div>
                        </div>
                    }   
                }
            </div>
        </div>
    </div>

</div>


