@page
@model UDeal.Pages.Posts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Condition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Condition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Campus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Campus.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.MinPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.MinPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.MaxPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.MaxPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Course.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Post.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
