@page
@using UDeal.Models
@model UDeal.Pages.Posts.DetailsModel

@inject SignInManager<User> SignInManager


@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>


<div>
    <h4>Post</h4>
    <hr />
    <img src="@ViewBag.ImagePath"/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Condition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Condition)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Campus)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Campus.Name)
        </dd>

        @if (Model.Post.Type == Models.PostType.Selling)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Post.Price)
            </dt>
            <dd class="col-sm-10">
                $@Html.DisplayFor(model => model.Post.Price)
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Post.MinPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Post.MinPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Post.MaxPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Post.MaxPrice)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Category.Name)
        </dd>


        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Course.Name)
        </dd>

        
        <hr />
        <h5>Poster's Contact Information</h5>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            <a target="_blank" href="@("mailto:" + Model.PosterContact.AlternateEmail)">@Html.DisplayFor(model => model.PosterContact.AlternateEmail)</a>
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            <a target="_blank" href="@("tel:" + Model.PosterContact.PhoneNumber)">@Html.DisplayFor(model => model.PosterContact.PhoneNumber)</a>
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            <a target="_blank" href="@("https://maps.google.com/?q=" + Model.PosterContact.Address)">@Html.DisplayFor(model => model.PosterContact.Address)</a>
        </dd>
        
        

    </dl>
</div>
@if (SignInManager.IsSignedIn(User))
{
    @if (Model.IsFav)
    {
        <form method="post" asp-page-handler="remove" asp-route-id="@Model.Post.Id">
            <input type="submit" value="Remove from Favourites" class="btn btn-outline-danger" />
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="fav" asp-route-id="@Model.Post.Id">
            <input type="submit" value="Add to Favourites" class="btn btn-outline-success" />
        </form>
    }    
}


<div>
    <a role = "button" class = "btn btn-outline-info" asp-page="./Edit" asp-route-id="@Model.Post.Id">Edit</a> |
    <a role = "button" class = "btn btn-outline-secondary" asp-page="./Index">Back to List</a>
</div>

