@page
@model UDeal.Pages.Posts.IndexModel
@using UDeal.Models

@{
    ViewData["Title"] = "My Posts";
}

<h1>My Posts</h1>

<h3>Selling</h3>
<p>
    <a asp-page="Create" asp-route-type="0">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Post[0].Description)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Post[0].Quantity)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Post[0].Condition)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Post[0].MinPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].MaxPrice)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Post[0].Type)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post.Where(p => p.Type == PostType.Selling)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MinPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPrice)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<h3>Looking</h3>
<p>
    <a asp-page="Create" asp-route-type="1">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Post[0].Description)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Condition)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Post[0].Price)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Post[0].MinPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].MaxPrice)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Post[0].Type)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Course)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post.Where(p => p.Type == PostType.Looking)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.MinPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPrice)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
